// ---Paragragh---

// Instead of child selecting the element expect the last
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

// ---Lists---

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: $line;
  border-bottom: $line;

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    // Older browsers
    background-image: url(/src/assets/img/chevron-thin-right.svg);
    background-size: cover;

    //Newer browsers - masks

    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: $color-primary;
      -webkit-mask-image: url(/src/assets/img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(/src/assets/img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}
