@import "../abstracts/mixins";

//----LOGO----
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

//----SEARCH----
.search {
  flex: 0 0 40%; //initial width: 40%
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__icon {
    @include icon-width(2rem, 2rem, $color-grey-dark-3);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-grey-light-2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: $color-grey-light-3;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-light-4;
    }
  }

  &__input:focus + &__button {
    background-color: $color-grey-light-3;
  }

  &__button {
    border: none;
    background-color: $color-grey-light-2;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
