*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  color: $color-grey-dark-2;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
